<%= form_for([@version, @version.table.build]) do |f| %>
  <p align="center">

    <%= f.hidden_field :Table_Name, :value => @version.Version_Name%>
  </p>

  <br>
  <p align="center">
    <!-- <p align = "center"><%= link_to '<i class="glyphicon glyphicon-plus"></i> '.html_safe, f.submit, class: 'btn btn-custom' %> </p> -->

    <p align = "center"> <%= button_tag(type: "submit", class: 'btn btn-custom1', name: "commit", value: "conceal") do %>
  <span class="glyphicon glyphicon-plus"></span>
<% end %> </p>

  </p>
<% end %>
