<div class = "jumbotron">

  <h2 align="center">Welcome to Maple, a data dictionary editor and data mapping tool</h2>
  <br>
  <p align="center">
    <%= link_to 'Create A New System', new_system_path %>
  </p>
</div>
