<!DOCTYPE html>
<html lang="en">
<body>
<div class = "jumbotron">
  <div class="container">
  <h1 align="center">Welcome To Maple</h1>
  <h2 align="center">Introducing the all in one data dictionary editor and data mapping tool</h2>
  <p algin="center">
    A web application that uses Ruby on Rails and MySQL to construct documentation for a given database system in the form of a data dictionary, then provide mapping between separate data points of different versions of the same system, or seperate but related systems.
  </p>
  <p align="center">
    <%= link_to 'Create A New System', new_system_path %>
  </p>
</div>
</div>
</body>
</html>
