<body>

<div class = "jumbotron">
    <h1 align="center">New System</h1>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul>
          <li>
            <%= value %>
          </li>
        </ul>
      </div>
    <% end %>
    <%= render 'form' %>
    <br>
    <p align="center">
      <%= link_to 'Systems List ', controller: 'systems' %>
    </p>
</div>
</body>
