<body>

<div class = "jumbotron">
    <h1 align="center">New System</h1>
    <%= render 'form' %>
    <br>
    <p align="center">
      <%= link_to 'Systems List ', controller: 'systems' %>
    </p>
</div>
</body>
