<div class = "jumbotron">
  <h1 align="center">List of all verions</h1>
  <p align="center">Below is a list of all versions</p>
  <br>
  <br>
  <br>

  <table align="center" >
    <br>
    <tr>
      <th>System Name</th>
    </tr>
    <% @systems.each do |system| %>
    <tr>
        <td><%= system.System_Name %></td>
        <td><%= link_to 'Show Versions', system_path(system) %></td>
        <!-- <td><%= link_to 'Create a new version', new_system_version_path(system) %></td> -->
      </tr>
      <% end %>
    </table>


</div>
