<%= form_for([@system, @system.versions.build])   do |f| %>
  <p align="center">
    <%= f.label :Version_Name %><br>
    <%= f.text_field :Version_Name %>
  </p>
  <br>
  <p align="center">
    <%= f.submit %>
  </p>
<% end %>
