<body>

<div class = "jumbotron">
  <h1 align="center">Data Point Display</h1>
  <p> Your choice: <%= Reusable.myName(@version.Version_Name) %> </p>



  <% controller.redirect_to map_home_path(:myID2 => @version, :myID => params[:myID1]) %>






</div>
</body>
