<body>

<div class = "jumbotron">
  <h1 align="center">Data Point Display</h1>
  <p> Your choice: <%= Reusable.myName(@version.Version_Name) %> </p>



<% controller.redirect_to map_index_path(:myID => @version, :myID2 => params[:myID2]) %>






</div>
</body>
