/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


 .btn-primary {
   background-color: #6A9D9D;
   border:0px solid transparent; /* this was 1px earlier */
   font-size: 25px;

 }

 .btn-custom1 {
   background-color: #D5E1FA;
 }



body {
  padding: 100px;
  background-color: #9DB0DA;
}

.jumbotron {
  background-color: #D5E1FA;
  border-radius: 10px;
}

.navbar {
  background-color: #D5E1FA;
}

.dropdown-menu {
  background-color: #D5E1FA;

}
 .top-buffer { margin-top:20px; }

 table {
     border-collapse: separate;
     border-spacing: 0 1em;
     text-align: center;
 }

 .modal .modal-dialog {
   width: 90%;

 }
 .modal-header {
   background-color: #D5E1FA;

 }

 .modal-dialog .modal-footer {
   background-color: #D5E1FA;

 }
 .modal .modal-body {
   overflow-y: auto;
   background-color: #D5E1FA;

 }
 .table-hover {
  margin-left:auto;
  margin-right:auto;
  width: 60%;
}
.dropdown {
  text-align:center;
}

.dropdownLeft {
  text-align:left;
  width: 50%;
}

.dropdownRight {
  text-align:right;
  width: 50%;
}



 .button,  .dropdown-menu {margin:10px auto}
 .dropdown-menu {width:200px; left:50%; margin-left:-100px;}
#id1.dropdown-menu {font-size: 25px;}
