// Place all the styles related to the Versions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

div.scrollWrapper{

  height:400px;
  width:800px;
  margin-left: auto ;
margin-right: auto ;
  overflow:scroll;
}

table.table-hover1{

  margin-left: auto ;
margin-right: auto ;
}

table.table-hover1 thead tr{
    display:block;
}

table.table-hover1 th{
    width:120px;//fixed width
    max-width:120px;
    min-width:120px;

    text-align: center;
}

table.table-hover1 td{
    width:120px;//fixed width
    max-width:120px;
    min-width:120px;

    text-align: center;

}


table.table-hover1  tbody{
  display:block;
  height:400px;
  overflow:auto;//set tbody to auto
}
